<section class="comments">
  <div id="respond" class="comment__new">
    Comment
    {% include comment_form.html %}
  </div>

  {% if site.data.comments[post_slug] %}
    <div class="comments__existing">
    <p> Questions and comments</p>
    <p>main comments</p>
    {% assign comments = site.data.comments[post_slug] | where_exp: "item", "item.replying_to == ''" %}
    {{ comments | inspect }}

    <p>comments sorted by date</p>
    {% assign comments_date = comments | sort: 'date' %}
    {{ comments_date | inspect }}

    <p>All comments and replies x</p>
    {{ site.data.comments[post_slug]}}

    {% for comment in comments %}
      {% assign index       = forloop.index %}
      {% assign r           = comment.replying_to %}
      {% assign replying_to = r | to_integer %}
      {% assign email       = comment.email %}
      {% assign name        = comment.name %}
      {% assign url         = comment.url %}
      {% assign date        = comment.date %}
      {% assign message     = comment.message %}
      {% include comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
    {% endfor %}
    </div>
    
  {% endif %}
</section>
