<form class="js-form form" method="post" action="{{ site.staticmanUrl }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[slug]" value="{{ post_slug }}">
  <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">

  <fieldset>
  <div class="textfield">
    <textarea class="textfield__input" name="fields[message]" type="text" rows= "2"></textarea>
  </div>
  </fieldset>

  <fieldset>
    <div class="textfield">
      <input class="textfield__input" type="text" name="fields[name]" placeholder="Your name"/>
    </div>
  </fieldset>

  <!--fieldset>
    <div class="textfield">
      <input class="textfield__input" type="email" name="fields[email]"  placeholder="Your email (optional)"/>
    </div>
  </fieldset-->

  <fieldset>
    <button class="button">
      Submit
    </button>
    <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;"> cancel</a></small>
  </fieldset>
</form>