<section class="comments">

  {% if site.data.comments[post_slug] %}
    <!-- Existing comments -->
    <div class="comments__existing">
    <h2>Questions</h2>
    {% assign comments = site.data.comments[post_slug] | where_exp: "item", "item.replying_to == ''" %}
    {% assign comments_date = comments | sort: 'date' %}

    {% for comment in comments_date %}
      {% assign index       = forloop.index %}
      {% assign r           = comment.replying_to %}
      {% assign replying_to = r | to_integer %}
      {% assign email       = comment.email %}
      {% assign name        = comment.name %}
      {% assign url         = comment.url %}
      {% assign date        = comment.date %}
      {% assign message     = comment.message %}
      {% include comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
    {% endfor %}
    </div>    
  {% endif %}
  
  <!-- New comment form -->
  <div id="respond" class="comment__new">
    <h2>Ask a question</h2>
    {% include comment_form.html %}
  </div>
</section>
