<form class="js-form form" method="post" action="{{ site.staticmanUrl }}" autocomplete="off">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
  <input type="hidden" name="options[slug]" value="{{ post_slug }}">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">

  <fieldset>
  <div class="textfield">
    <textarea class="textfield__input" name="fields[message]" type="text" ></textarea>
  </div>
  </fieldset>

  <fieldset>
    <div class="textfield">
      <input class="textfield__input" name="fields[name]" type="text" placeholder="Your name"/>
    </div>
  </fieldset>

  <fieldset>
    <div class="textfield">
      <input class="textfield__input" type="email" name="fields[email]"  placeholder="Your email (optional, used if you subscribe.)"/>
    </div>
  </fieldset>

  <fieldset>
    <div class="notify-me">
      <input type="checkbox" id="comment-form-reply" name="options[subscribe]" value="email">
      Send me an email when someone comments on this article.
    </div>
  </fieldset>

  <fieldset>
    <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
  </fieldset>

  <fieldset>
    <button class="button">
      Submit
    </button>
    <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;"> cancel</a></small>
  </fieldset>
</form>
