<a class="page-link" href="#" id="theme-toggle" title="Toggle color theme" onclick="modeSwitcher()"></a>

<script>
	//https://derekkedziora.com/blog/dark-mode# and https://derekkedziora.com/blog/dark-mode-revisited
	const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');	

	if (theme === "dark") {
		document.getElementById("theme-toggle").innerHTML = "Light";
	} else if (theme === "light") {
		document.getElementById("theme-toggle").innerHTML = "Dark";
	} else if  (userPrefers === "dark") {
		document.documentElement.setAttribute('data-theme', 'dark');
		window.localStorage.setItem('theme', 'dark');
		document.getElementById("theme-toggle").innerHTML = "Light";
	} else {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
		document.getElementById("theme-toggle").innerHTML = "Dark";
	}

	function modeSwitcher() {
		let currentMode = document.documentElement.getAttribute('data-theme');
		if (currentMode === "dark") {
			document.documentElement.setAttribute('data-theme', 'light');
			window.localStorage.setItem('theme', 'light');
			document.getElementById("theme-toggle").innerHTML = "Dark";
		} else {
			document.documentElement.setAttribute('data-theme', 'dark');
			window.localStorage.setItem('theme', 'dark');
			document.getElementById("theme-toggle").innerHTML = "Light";
		}
	}
</script>