<footer class="site-footer">

  <div class="wrapper">

    <h2><a class="footer-heading" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <ul class="col3-list">
          <li>{{ site.description | escape }}</li><br>
          <li><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="{{ site.url }}{{ site.baseurl }}/i/cc_25px.svg" alt="Creative Commons"</img><small> Attribution/Non-Commercial/Share-Alike</small></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
