<!--link rel="stylesheet" href="{{ site.baseurl }}{% link assets/katex/katex.min.css %}"-->
<link rel="stylesheet" href="{{ site.baseurl }}{% link assets/katex/katex.css %}">

<script defer src="{{ site.baseurl }}{% link assets/katex/katex.min.js %}"></script>
<script defer src="{{ site.baseurl }}{% link assets/katex/contrib/auto-render.min.js %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters:
            [{left: "$", right: "$", display: false},
             {left: "\\(", right: "\\)", display: false},
             {left: "\\[", right: "\\]", display: true},]
        });
    });
</script>

<link href="{{ site.baseurl }}{% link assets/katex/contrib/copy-tex.css %}" rel="stylesheet" type="text/css">
<script src="{{ site.baseurl }}{% link assets/katex/contrib/copy-tex.min.js %}"></script>
