
<p>
<form method="post" class="form" action="{{ site.staticmanUrl }}">
  <fieldset>
      <!--legend>Leave a question or comment</legend -->
      <!--input name="options[redirect]" type="hidden" value="https://willymcallister.github.io/electrical-engineering" -->
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label><input name="fields[name]" type="text" size="35"> Name </label>
      <label><input name="fields[email]" type="email" size="35"> Email (optional)</label>
      <textarea name="fields[message]"></textarea>
      <button type="submit">Submit</button>
  </fieldset>
</form>
</p>

{% comment %}  related to: eduardoboucas.github.io/_includes/partials/post-new-comment.html {% endcomment %} 
