<style>
textarea, input {
    padding-left: 5px;
    box-sizing: border-box;
}
button {padding: 3px 10px;}
label {
    display: block;
    margin: 5px 0px 5px 0px;
}
</style>
<p>
<form method="post" action="{{ site.staticmanUrl }}">
  <fieldset>
      <!--legend>Leave a question or comment</legend -->
      <input name="options[redirect]" type="hidden" value="https://willymcallister.github.io/electrical-engineering">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label><input name="fields[name]" type="text" size="35"> Name </label>
      <label><input name="fields[email]" type="email" size="35"> Email </label>
      <textarea name="fields[message]" rows="4" style="width:100%"></textarea>
      <button type="submit">Submit</button>
  </fieldset>
</form>
</p>

{% comment %}  related to: eduardoboucas.github.io/_includes/partials/post-new-comment.html {% endcomment %} 