
<p>
<form method="post" class="form" action="{{ site.staticmanUrl }}">
  <fieldset>
      <!--legend>Leave a question or comment</legend -->
      <!--input name="options[redirect]" type="hidden" value="https://willymcallister.github.io/electrical-engineering" -->
      <!--input name="options[slug]" type="hidden" value="{{ page.slug }}"-->
      <input type="hidden" name="options[slug]" value="{{ post_slug }}">
      <label><input type="text"  name="fields[name]"> Name </label>
      <label><input type="email" name="fields[email]"> Email (optional)</label>
      <textarea name="fields[message]"></textarea>
      <button type="submit">Submit</button>
  </fieldset>
</form>
</p>

{% comment %}  related to: eduardoboucas.github.io/_includes/partials/post-new-comment.html {% endcomment %} 
