
<article id="comment{{ include.index }}" class="comment">
		<div class="comment__body">
			{{ include.message | markdownify }}
		</div>
		<div class="comment__author">
			{{ include.name }}
			<span class="comment__date">
				{% if include.date %}
					{% if include.index %}<a href="#comment{{ include.index }}">{% endif %}
					{% include format-date.html date=include.date time=false weekDay=false %}
					{% if include.index %}</a>{% endif %}
				{% endif %}
			</span>
		</div>
</article>

{% comment %} 
	based on: https://github.com/eduardoboucas/eduardoboucas.github.io/blob/master/_includes/partials/post-comment.html 
{% endcomment %} 