<section class="comments">
	<div class="comment__new">
		<h3>Ask a question</h3>
		{% include new-comment.html %}
	</div>

	{% if site.data.comments[post_slug] %}
		<div class="comments__existing">
			<h2>All comments</h2>

			{% assign comments = site.data.comments[post_slug] | sort %}
			
			{% for comment in comments reversed %}
				{% assign email = comment[1].email %}
				{% assign name = comment[1].name %}
				{% assign date = comment[1].date %}
				{% assign message = comment[1].message %}

				{% include post-comment.html index=forloop.index email=email name=name url=url date=date message=message %}
			{% endfor %}
		</div>
	{% endif %}
</section>

{% comment %} 
	based on: https://github.com/eduardoboucas/eduardoboucas.github.io/blob/master/_includes/partials/post-comments.html
{% endcomment %} 
