
svg .grid {
  stroke-width: 0.5px;
  stroke: #BBB;
  opacity: 0.5;
}

svg .domain {
  stroke-width: 3px;
  stroke: black;
}

svg {
  border: none;
}

svg .path {
  stroke-width: 3px;
  /*stroke: #6495ED;       graphie blue */
  stroke: #11ACCD;      /* KA math1     */
  fill: none;
}

svg text {
  font: 16px katex_math;
}

svg .tick text {
  font: 12px katex_math;
}