---

---

// Custom styles for spinningnumbers

//div {border: 1px solid blue;}     //debug
//span {border: 1px solid red;}     //debug

$base-font-size:     18px !default;
$comment-font-size:  17px !default;
$grey-color:         #757575 !default;
$grey-color-darkish: darken($grey-color, 15%) !default;
$grey-color-dark:    darken($grey-color, 25%) !default;
$brand-color:        #2a7ae2;
$brand-color-dark:   darken($brand-color,10%) !default;


html, html[data-theme="light"], {
    --text-color: #111;
    --table-text-color: #3f3f3f;
    --table-header-color: #e3e3e3;
    --table-zebra-color: #eaeaea;
    --background-color: #fdfdfd;
    --img-background-color: #fdfdfd;
}

html[data-theme="dark"] {
    --text-color: silver;
    --table-text-color: #d3d3d3;
    --table-header-color: #808080;
    --table-zebra-color: #4d4d4d;
    --background-color: #353535;
    --img-background-color: #4f4f4f;    //$grey-color-darkish
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

@import "minima";

.sn-logo {
    margin: 0em 0.25em;
}

.katex {
    font-size: 2.16em;
}

.centered {
    display: block;
    margin: auto;
}

.caption {
    color: $grey-color;
    font-size: $small-font-size;
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));    //overrides 20%
  }

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));    //overrides 45%
  }

blockquote {
    font-size: $base-font-size;     //overrides 1.125 increase in _base.scss
    letter-spacing: 0px;            //overrides -1px spacing in _base.scss
}

hr {
    margin: 1em 0;
    border-top: 1px solid $grey-color-light;
}

table {
  width: inherit !important;          //overrides 100% in _base.scss
  color: var(--table-text-color);
  tr {
    &:nth-child(even) {
      background-color: var(--table-zebra-color);
    }
  }
  th {
    background-color: var(--table-header-color);
  }
}

body {
    -webkit-text-size-adjust: none;   //overrides 100% in _base.scss
    background-color: var(--background-color);
    color: var(--text-color);
}

main img {
    background-color: var(--img-background-color);
    opacity: .75
}

a {
  //color: var(--brand-color);
  color: $brand-color;
  text-decoration: none;

  &:visited {
  //  color: var(--brand-color);
  color: $brand-color-dark;
  }

  &:hover {
  //  color: var(--brand-color);
  color: $brand-color-dark;
    text-decoration: underline;
  }
}

.site-nav .page-link {
    color: var(--text-color);
}

//
// Overline styles for digital variables
//
.oline {
    text-decoration: overline;
}
.ooline {
    border-top: black 1px solid; 
    padding: 2px 0 0 0;
}

//
// <details> tag
//
details {
    border-radius: 10px;
    padding: 0px 8px;     //closed padding matches [open] padding to keep the summary sitting still when opened.
    margin-bottom: 15px;
}
details[open] {
    background: $grey-color-darkish;
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}
details summary {
    color: $brand-color;
}

//
// Staticman new comment form
//
input, select, textarea, label, button {
//    @extend body;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}
fieldset {
    border: none;
    padding: 0;
}
.textfield {
    width: 420px;
    max-width: 100%;
    padding: 0.5rem 0;
}
textarea {
    vertical-align: top;
}
.textfield__input {
    border: 1px solid $grey-color;
    padding: 4px 5px;
    width: 100%;
    font-size: $comment-font-size; 
}
.notify-me, .g-recaptcha {
    padding: 0.5rem 0;
}
.button {
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 4px 0px 0px 0px;
}
button:hover {
    background-color: $grey-color;
    color: white;
}

//
// Staticman existing comments
//
.comments {
}
.comment__new {
    padding: 0px 0px 14px 0px;
}
.comment__author {
    color: $grey-color;
}
.comment__date {
    font-size: $small-font-size; 
}
.comment__body {
    font-size: $comment-font-size; 
}
.comment__meta {
    text-align: left;
    color: $grey-color;
    font-size: $small-font-size;
}
.comments__existing {
    padding: 8px 0px 0px 0px;
}
.comment {  
    border-top: 0px solid $grey-color-light;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1em;
}
.comment.child {
    margin-left: 3em;
}
.comment__reply-link {
  color: $grey-color;
  font-size: $small-font-size;
}

//
// Pop-up modal window for Staticman comments
//
.show-modal {
    overflow: hidden;
    position: relative;
}
.show-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
}
.show-modal .modal {
    display: block;
}
.mdl-card {
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    padding: 16px;
    border-radius: 2px;
    background: white;
}
.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.mdl-card__supporting-text {
    overflow: hidden;
    padding: 16px;
    width: 90%;
}
.modal-title {
    margin-bottom: 0px;
}

//
// Videos
//
.video-backdrop {
    width: 100%;
    background: black;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 2em;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube_div {
    font-size: $small-font-size;
    text-align: right;
    padding-bottom: 16px;
}
a.youtube_link:link, a.youtube_link:visited {
    color: $grey-color;
}

// Dark Theme

.site-header {
  border-top: 5px solid $brand-color;
}

.site-title {
  &,
  &:visited {
    color: inherit;
  }
}