/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: silver; background-color: #353535; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 15.75px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #1DA1F2; text-decoration: none; }
a:visited { color: #0b76b8; }
a:hover { color: silver; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #757575; border-left: 4px solid #dbdbdb; padding-left: 15px; font-size: 20.25px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 16.875px; border: 1px solid #dbdbdb; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #757575; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #eeeeee; border-collapse: collapse; border: 1px solid #dbdbdb; }
table tr:nth-child(even) { background-color: #eaeaea; }
table th, table td { padding: 10px 15px; }
table th { background-color: #e3e3e3; border: 1px solid #d1d1d1; border-bottom-color: #bcbcbc; }
table td { border: 1px solid #dbdbdb; }

/** Site header */
.site-header { border-top: 5px solid #353535; border-bottom: 1px solid #dbdbdb; min-height: 55.95px; position: relative; }

.site-title { font-size: 29.25px; font-weight: 300; line-height: 60.75px; letter-spacing: -1px; margin-bottom: 0; float: left; }
.site-title, .site-title:visited { color: #353535; }

.site-nav { float: right; line-height: 60.75px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: silver; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #353535; border: 1px solid #dbdbdb; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #353535; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #dbdbdb; padding: 30px 0; }

.footer-heading { font-size: 20.25px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 16.875px; color: #757575; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
/** Page content */
.page-content { padding: 30px 0; flex: 1; }

.page-heading { font-size: 36px; }

.post-list-heading { font-size: 31.5px; }

.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 15.75px; color: #757575; }

.post-link { display: block; font-size: 27px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 47.25px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) { .post-title { font-size: 40.5px; } }

.post-content { margin-bottom: 30px; }
.post-content h2 { font-size: 36px; }
@media screen and (max-width: 800px) { .post-content h2 { font-size: 31.5px; } }
.post-content h3 { font-size: 29.25px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 24.75px; } }
.post-content h4 { font-size: 22.5px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 20.25px; } }

/** Syntax highlighting styles */
.highlight { background: #fff; }
.highlighter-rouge .highlight { background: #eef; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

.sn-logo { margin: 0em 0.25em; }

.katex { font-size: 2.16em; }

blockquote { font-size: 18px; letter-spacing: 0px; }

.centered { display: block; margin: auto; }

.caption { color: #757575; font-size: 15.75px; }

hr { margin: 1em 0; border-top: 1px solid #dbdbdb; }

table { width: inherit !important; }
table tr:nth-child(even) { background-color: #4f4f4f; }
table th { background-color: #757575; }

body { -webkit-text-size-adjust: none; }

.footer-col-2 { width: -webkit-calc(25% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(40% - (30px / 2)); }

img { background-color: #4f4f4f; }

.oline { text-decoration: overline; }

.ooline { border-top: black 1px solid; padding: 2px 0 0 0; }

details { border-radius: 10px; padding: 0px 8px; margin-bottom: 15px; }

details[open] { background: #4f4f4f; padding: 0px 8px 8px 8px; }

summary { margin: 0px 0px 8px 0px; outline: none; }

details summary { color: #1DA1F2; }

input, select, textarea, label, button { font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: silver; background-color: #353535; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; }

fieldset { border: none; padding: 0; }

.textfield { width: 420px; max-width: 100%; padding: 0.5rem 0; }

textarea { vertical-align: top; }

.textfield__input { border: 1px solid #757575; padding: 4px 5px; width: 100%; font-size: 17px; }

.notify-me, .g-recaptcha { padding: 0.5rem 0; }

.button { background: rgba(158, 158, 158, 0.2); box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14); border: none; border-radius: 2px; padding: 4px 8px; overflow: hidden; cursor: pointer; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; margin: 4px 0px 0px 0px; }

button:hover { background-color: #757575; color: white; }

.comment__new { padding: 0px 0px 14px 0px; }

.comment__author { color: #757575; }

.comment__date { font-size: 15.75px; }

.comment__body { font-size: 17px; }

.comment__meta { text-align: left; color: #757575; font-size: 15.75px; }

.comments__existing { padding: 8px 0px 0px 0px; }

.comment { border-top: 0px solid #dbdbdb; padding: 0px 0px 0px 0px; margin-bottom: 1em; }

.comment.child { margin-left: 3em; }

.comment__reply-link { color: #757575; font-size: 15.75px; }

.show-modal { overflow: hidden; position: relative; }

.show-modal:before { position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(255, 255, 255, 0.85); }

.show-modal .modal { display: block; }

.mdl-card { min-height: 200px; overflow: hidden; z-index: 1; position: relative; background: #fff; box-sizing: border-box; }

.modal { display: none; position: fixed; width: 330px; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px; min-height: 0; z-index: 9999; box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14); padding: 16px; border-radius: 2px; background: white; }

.mdl-shadow--16dp { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.mdl-card__supporting-text { overflow: hidden; padding: 16px; width: 90%; }

.modal-title { margin-bottom: 0px; }

.video-backdrop { width: 100%; background: black; }

.videowrapper { float: none; clear: both; width: 100%; position: relative; padding-bottom: 52%; padding-top: 25px; height: 0; margin-bottom: 2em; }

.videowrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.youtube_div { font-size: 15.75px; text-align: right; padding-bottom: 16px; }

a.youtube_link:link, a.youtube_link:visited { color: #757575; }

.orange { color: #f66a0a; }

.grey { color: #757575; }

.site-header { border-top: 5px solid #1DA1F2; }

.site-title, .site-title:visited { color: inherit; }
