---

---

@import "minima";

//div {border: 1px solid blue;}
//span {border: 1px solid red;}

.sn-logo {
    margin: 0em 0.25em;
}

blockquote {
    font-size: $base-font-size;
    letter-spacing: 0px;
}
.centered {
    display: block;
    margin: auto;
}
table {
    border: 1px solid $grey-color-light;
    border-radius: 2px;
    margin-bottom: 15px;
    border-spacing: 0px;
}
th {
    margin: 0;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid $grey-color-light;
}
td {
    padding: 5px 10px;
}
$grey-color-zebra: lighten($grey-color, 45%) !default;
.zebra tr:nth-child(odd) td {
    background-color: $grey-color-zebra;
}
hr {
    margin: 1em 0;
    border-top: $grey-color-light;
}
.footer-heading {
  letter-spacing: -0.25px;
  font-weight: 300;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}
.col3-list {
  list-style: none;
  margin-left: 0;
}

////// comment form //////

input, select, textarea, button {
    @extend body;
}
fieldset {
    border: none;
    padding: 0;
}
.textfield {
    width: 360px;
    max-width: 100%;
    padding: 4px 0px
}
.textfield__input {
    border: 1px solid rgba(0,0,0,.12);
    padding: 4px 5px;
    width: 100%;
}
.button {
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 4px 0px 0px 0px;
}
button:hover {
    background-color: $grey-color;
    color: white;
}

////// existing comments //////

.comments {
    border-top: 1px solid $grey-color-light;
    padding: 20px 0px 0px 0px;
}
.comment__new {
    padding: 0px 0px 14px 0px;
}
.comment__author {
    text-align: right;
    color: $grey-color;
    font-size: $small-font-size;
}
.comments__existing {
    padding: 8px 0px 0px 0px;
}
.comment {  
    border-top: 1px solid $grey-color-light;
    padding: 5px 0px 5px 0px;
}
.comment.child {
    margin-left: 3em;
}
.comment__reply-link {
  color: $grey-color;
  font-size: $small-font-size;
}

////// <details> tag //////

details {
    border-radius: 5px;
	padding: 0px 8px;
    margin-bottom: 15px;
}
details[open] {
	background: $grey-color-light;
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}

$ka-default5 : #236ec9 !default;
details summary {
    color: $ka-default5;
}

////// video frame //////
.video-backdrop {
    width: 100%;
    background: black;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 2em;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

////// pop-up modal window //////

.show-modal {
    overflow: hidden;
    position: relative;
}
.show-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
}
.show-modal .modal {
    display: block;
}

.mdl-card {
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    padding: 16px;
    border-radius: 2px;
    background: white;
}
.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.mdl-card__supporting-text {
    overflow: hidden;
    padding: 16px;
    width: 90%;
}
.modal-title {
    margin-bottom: 0px;
}
