---

---

// Custom styles for spinningnumbers

//div {border: 1px solid blue;}     //debug
//span {border: 1px solid red;}     //debug

$base-font-size:     18px !default;
$comment-font-size:  17px !default;
$grey-color:         #757575 !default;
$grey-color-darkish: darken($grey-color, 15%) !default;     // #4f4f4f;
$grey-color-dark:    darken($grey-color, 25%) !default;     // #353535;    
$brand-color:        #2a7ae2;
$brand-color-dark:   darken($brand-color,10%) !default;     // #1a62bf;

//
// Switchable colors
//

html {
  --text-color: #111;
  --table-text-color: #3f3f3f;
  --table-header-color: #e3e3e3;
  --table-zebra-color: #eaeaea;
  --background-color: #fdfdfd;
  --button-background-color: #fdfdfd;
  --img-background-color: #fdfdfd;
  --site-top-margin-color: #353535;       // $grey-color-dark
  --pre-background-color: #eef;
  --details-background-color: #dbdbdb;    // $grey-color-light
  --box-color: #FFEA94;                   // KA yellow5
}

@media (prefers-color-scheme: dark) {
  html {
  --text-color: silver;
  --table-text-color: #d3d3d3;
  --table-header-color: #808080;
  --table-zebra-color: #4d4d4d;
  --background-color: #353535;          // $grey-color-dark
  --button-background-color: #000000;   // black
  --img-background-color: #4f4f4f;      // $grey-color-darkish
  --site-top-margin-color: #2a7ae2;     // $brand-color
  --pre-background-color: #343c46;      // $grey-color-dark blended with $brand-color #343c46
  --details-background-color: #4f4f4f;  // $grey-color-darkish
  --box-color: #953C02;                 // KA econ4

  }
}

@import "minima";

.sn-logo {
    margin: 0em 0.25em;
    background-color: var(--background-color);
}

.centered {
    display: block;
    margin: auto;
}

.caption {
    color: $grey-color;
    font-size: $small-font-size;
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));    //overrides 20%
  }

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));    //overrides 45%
  }

blockquote {
    font-size: $base-font-size;     //overrides 1.125 increase in _base.scss
    letter-spacing: 0px;            //overrides -1px spacing in _base.scss
}

hr {
    margin: 1em 0;
    border-top: 1px solid $grey-color-light;
}

table {
  width: inherit !important;          //overrides 100% in _base.scss
  color: var(--table-text-color);
  tr {
    &:nth-child(even) {
      background-color: var(--table-zebra-color);
    }
  }
  th {
    background-color: var(--table-header-color);
  }
}

.noborder {
  border: none;
  tr {
    &:nth-child(even) {
      background-color: var(--background-color);
    }
  }
  td {
    border: none;
  }
}

body {
    -webkit-text-size-adjust: none;   //overrides 100% in _base.scss
    background-color: var(--background-color);
    color: var(--text-color);
}

img {
  background-color: var(--img-background-color);
  opacity: 1.0;
  border-radius: 4px;
}

//img {
//    opacity: .8;
//    transition: opacity .5s ease-in-out;
//  }
//  img:hover {
//    opacity: 1;
//  }

svg {
  background-color: var(--img-background-color);
  opacity: 1.0;
  border-radius: 4px;
}

.katex svg {
    background-color: initial;
    border-radius: initial;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
  color: $brand-color-dark;
  }

  &:hover {
  color: $brand-color-dark;
    text-decoration: underline;
  }
}

.site-nav .page-link {
    color: var(--text-color);
}

.site-header {
  border-top: 5px solid var(--site-top-margin-color);
}

.site-title {
  &,
  &:visited {
    color: inherit;
  }
}

.highlighter-rouge .highlight, pre, code {
    background-color: var(--pre-background-color);
    border: 1px solid var(--pre-background-color);
}

//
// Overline styles for digital variables
//
.oline {
    text-decoration: overline;
}
.ooline {
    border-top: black 1px solid; 
    padding: 2px 0 0 0;
}

//
// <details> tag
//
details {
    border-radius: 10px;
    padding: 0px 8px;     //closed padding matches [open] padding to keep the summary sitting still when opened.
    margin-bottom: 15px;
}
details[open] {
    background: var(--details-background-color);
    padding: 0px 8px 8px 8px;
}
summary {
    margin: 0px 0px 8px 0px;
    outline:none;
}
details summary {
    color: $brand-color;
}

//
// Staticman new comment form
//
input, select, textarea, label {
  background-color: var(--background-color);
}
fieldset {
    border: none;
    padding: 0;
}
.textfield {
    width: 420px;
    max-width: 100%;
    padding: 0.5rem 0;
}
textarea {
    vertical-align: top;
}
.textfield__input {
    border: 1px solid $grey-color;
    padding: 4px 5px;
    width: 100%;
    font-size: $comment-font-size; 
}
.notify-me, .g-recaptcha {
    padding: 0.5rem 0;
}
.button {
    font-size: #{$base-font-size};
    color: var(--text-color);
    background-color: var(--button-background-color);
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    border: 1px solid $grey-color;
    border-radius: 20px;
    padding: 4px 30px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    margin: 4px 0px 0px 0px;
}
button:hover {
    background-color: $grey-color;
    color: white;
}

//
// Staticman existing comments
//
.comments {
}
.comment__new {
    padding: 0px 0px 14px 0px;
}
.comment__author {
    color: $grey-color;
}
.comment__date {
    font-size: $small-font-size; 
}
.comment__body {
    font-size: $comment-font-size; 
}
.comment__meta {
    text-align: left;
    color: $grey-color;
    font-size: $small-font-size;
}
.comments__existing {
    padding: 8px 0px 0px 0px;
}
.comment {  
    border-top: 0px solid $grey-color-light;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1em;
}
.comment.child {
    margin-left: 3em;
}
.comment__reply-link {
  color: $grey-color;
  font-size: $small-font-size;
}

//
// Staticman Pop-up modal window for submitted comments
//
.show-modal {
    overflow: hidden;
    position: relative;
}
.show-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
}
.show-modal .modal {
    display: block;
}
.mdl-card {
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    padding: 16px;
    border-radius: 2px;
    background: white;
}
.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.mdl-card__supporting-text {
    overflow: hidden;
    padding: 16px;
    width: 90%;
}
.modal-title {
    margin-bottom: 0px;
}

//
// Videos
//
.video-backdrop {
    width: 100%;
    background: black;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 2em;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube_div {
    font-size: $small-font-size;
    text-align: right;
    padding-bottom: 16px;
}
a.youtube_link:link, a.youtube_link:visited {
    color: $grey-color;
}

///
/// Tool Tip, from https://www.w3schools.com/css/css_tooltip.asp
///
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #ccc; /* dots under the anchor text */
}

/* Tooltip content */
.tooltip .tooltipcontent {
  visibility: hidden;
  width: 400px;
  //background-color: #eee;
  background: var(--details-background-color);

  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px; 
  /* Position the tooltip content */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip content when you mouse over the tooltip anchor text */
.tooltip:hover .tooltipcontent {
  visibility: visible;
}

/* Colored box around equation */
.colorbox {
  background: var(--box-color); 
  display: inline-block;
}
