---
layout: default
---

{% capture post_slug %}{{ page.title | slugify: "latin" | prepend:'v-' }}{% endcapture %}

<article class="post">
	<div class="video-backdrop">
		<div class="videowrapper">
			<iframe frameBorder="0" width="{{site.data.video.width}}" height="{{site.data.video.height}}" src="https://www.youtube.com/embed/{{page.youtubeID}}{{site.data.video.youtubeOptions}}" allowfullscreen></iframe> 
		</div>
	</div>	

	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<div class="youtube_div">
		{% if page.transcript %}
			<a class="youtube_link" href="{{ site.baseurl }}/cc/{{page.transcript}}">video transcript</a><br>
	    {% endif %}

	<a class="youtube_link" href="https://www.youtube.com/watch?v={{page.youtubeID}}">video on YouTube</a>
	</div>

	{% if page.comments == true %}
	{% include comments.html %}
	{% endif %}

</article>

